.tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;

    .tab {
        background: var(--element-background);
        border: none;
        border-top-left-radius: var(--element-border-radius);
        border-top-right-radius: var(--element-border-radius);
        color: var(--element-color);
        min-width: 70px;
        padding: var(--element-padding);

        &.active {
            box-shadow: inset 0 -2px 0 var(--accent-color);
            font-weight: 700;
        }

        &:hover:not(.active) {
            color: var(--accent-color);
            cursor: pointer;
        }
    }
}