.dialog {
    background: var(--dialog-content-background);
    border: 1px solid var(--element-border-color);
    border-radius: var(--element-border-radius);
    color: var(--element-color);
    font-size: var(--font-size);
    overflow: hidden;
    padding: 0;

    &::backdrop {
        background: var(--dialog-backdrop-background);
    }
}

.dialog-close-button {
    background: var(--element-background);
    border: none;
    color: var(--element-color);
    cursor: pointer;
    margin-left: auto;
}

.dialog-content {
    padding: var(--dialog-padding);
}

.dialog-header {
    background: var(--dialog-header-background);
    border-bottom: 1px solid var(--element-border-color);
    display: flex;
    font-weight: var(--dialog-header-font-weight);
    padding: var(--dialog-padding);
}