progress {
    background: var(--element-background);
    border: none;
    border-radius: var(--element-border-radius);
    height: 1rem;
    width: 100%;

    &::-moz-progress-bar {
        background-color: var(--accent-color);
        border-radius: var(--element-border-radius);
    }
    &::-webkit-progress-bar {
        background-color: var(--element-background);
        border-radius: var(--element-border-radius);
    }
    &::-webkit-progress-value {
        background-color: var(--accent-color);
        border-radius: var(--element-border-radius);
    }
}
