.button, .input, .select, .select option, .textarea {
  background: var(--element-background);
  border: 1px solid var(--element-border-color);
  border-radius: var(--element-border-radius);
  color: var(--element-color);
  font-size: var(--font-size);
  padding: var(--element-padding);
  text-decoration: none;
}

:is(.button, .input, .select, .textarea):disabled,
.input:read-only:not([type=color]):not([type=file]),
.textarea:read-only {
  background: var(--element-background-disabled);
  border-color: var(--element-background-disabled);
  color: var(--element-color-disabled);
}

:is(.button, .input, .select, .textarea):focus {
  outline: var(--element-outline);
}

a.button:hover,
.button:enabled:hover,
.input:enabled:hover:read-write,
.input:is([type=color], [type=file]):enabled:hover,
.select:enabled:hover,
.textarea:enabled:hover:read-write {
  border-color: var(--element-border-color-hovered);
}

:is(.button, .select):enabled,
.input:is(
    [type=checkbox],
    [type=color],
    [type=file],
    [type=radio],
    [type=range]
  ):enabled,
.select option {
  cursor: pointer;
}

.input:is(:invalid, .invalid) {
  background: var(--element-color-invalid);
}

.input:is([type=checkbox], [type=radio]) {
  height: 1rem;
  width: 1rem;
}

.input:is([type=checkbox], [type=radio], [type=range]),
.progress {
  accent-color: var(--accent-color);
}

.input[type=color] {
  height: 1.7rem;
  width: 3.5rem;

  &::-moz-color-swatch {
    height: 1.7rem;
    margin: -20px;
    width: 200%;
  }

  &::-webkit-color-swatch {
    margin: -15px;
  }
}

.input[type=file]::file-selector-button {
  background: inherit;
  border: none;
  border-right: 1px solid;
  color: inherit;
}
