.nav {
    button {
        background: var(--element-background);
        border: none;
        color: var(--element-color);
        cursor: pointer;
        padding: var(--nav-button-padding);

        &:hover {
            background: var(--element-background-active);
            color: var(--element-color-hovered);
        }
    }

    ul {
        background: var(--element-background);
        display: flex;
        list-style: none;
    }
}