.nav button {
    background: var(--element-background);
    border: none;
    color: inherit;
    cursor: pointer;
    padding: var(--nav-button-padding);
}

.nav button:hover {
    background: var(--element-background-active);
    color: var(--element-color-hovered);
}

.nav ul {
    background: var(--element-background);
    display: flex;
    list-style: none;
}