.a, .body, .div, .label, .span {
    background: var(--body-background);
    color: var(--element-color);
    font-size: var(--font-size);
}

.a {
    color: var(--accent-color);

    &:focus {
        outline: var(--element-outline);
    }

    &:hover {
        text-decoration: none;
    }
}